
    <!-- Slider -->
    <div class="lec_slider lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.3" data-image="http://placehold.it/1400x800">
        <div class="lec_slider_firefly" data-total="30" data-min="1" data-max="3"></div>


        <!-- Over -->
        <div class="lec_over" data-color="#000" data-opacity="0.8"></div>
        

        <div class="container">


            <!-- Slider Texts -->
            <div class="lec_slide_txt lec_slide_center_middle text-center">
                <p><img src="./assets/images/burger/burger_logo.png" alt="" height="180"></p>
                <div class="lec_gold">Original American</div>
                <div class="lec_slide_subtitle">Authentic Home Made<br>Fresh Quality</div>
            </div>
            <!-- Slider Texts End -->
        
        </div>
        <!-- container end -->

        <!-- Slide Down -->
        <a class="lec_scroll_down lec_go" href="#lec_content">
            <b></b>
            <i class="ti ti-angle-double-down"></i>
        </a>


    </div>
    <!-- Slider End -->


    <!-- Content -->
    <section id="lec_content" class="lec_content">





        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
    
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0.05"></div>

                <div class="container text-center">


                    <div class="row">
                        <div class="col-md-10 lec_animation_block" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)" data-image="./assets/images/main_back.jpg">

                            <!-- Over -->
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>

                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Catering</h2>
                                <h3 class="lec_gold_subtitle">Let Us Cater <br>Your Next Event</h3>
                                <p>Let Lecker take care of your catering needs. Our party trays are the perfect solution for your next meeting, event or gathering. Just order online, pick up in store and grab your chopsticks! Let Lecker do all the wok for you – plates, utensils and fortune cookies included.</p>
                                <a href="#" class="btn">View Our Catering Menu <i class="ti ti-truck"></i></a>
                                
                            </div>



                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->


       <!-- section -->
        <section class="lec_section lec_image_bck lec_fixed lec_section_no_overlay lec_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x800">
            
            <!-- Over -->
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>

            <div class="container text-center">
                
                <h2 class="lec_gold lec_title_counter">Specials</h2>
                <h3 class="lec_gold_subtitle">Let Us Cater <br>Your Next Event</h3>

                <!-- boxes -->
                <div class="lec_icon_boxes lec_team_slider">
                    
                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Monday</span>
                        <span class="lec_news_title lec_gold_subtitle">Moink ball Monday</span>
                        <p>Moink balls are only $0.50 each! Eat one or eat twenty!</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Thuesday</span>
                        <span class="lec_news_title lec_gold_subtitle">Try It Thuesday</span>
                        <p>We smoke it, you try it! Every Tuesday Bear picks something different to serve that isn’t normally on our menu.</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Wednesday</span>
                        <span class="lec_news_title lec_gold_subtitle">Wing Wednesday</span>
                        <p>50¢ wings all day! Buy one or buy a dozen to share (or not).</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Thursday</span>
                        <span class="lec_news_title lec_gold_subtitle">BBQ Bowl Thursday</span>
                        <p>$1.00 off our delicious BBQ Bowl! Cornbread topped with beans and your choice of meat.</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Friday</span>
                        <span class="lec_news_title lec_gold_subtitle">Mac Attack Friday</span>
                        <p>End your work week by getting $1.00 off a Mac Attack with your choice of meat!</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Sat Sun</span>
                        <span class="lec_news_title lec_gold_subtitle">Beef Ribs Sat & Sun</span>
                        <p>Get your bear sized beef ribs on Saturday and Sunday only! Come early, ribs are limited.</p>  
                    </div>

                </div>
                <!-- boxes end -->
            </div>
            <!-- container end -->

                
        </section>
        <!-- section end -->
        




        <!-- section -->
        <section class="lec_section">


            <div class="container-fluid text-center">

                <h2 class="lec_gold lec_title_counter">From Chief</h2>
                <h3 class="lec_gold_subtitle">Let Us Cater <br>Your Next Event</h3>

 
                <div class="lec_slider_single lec_wht_txt lec_lm_type_i" data-dots="true" data-autoplay="true">
                    
                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_lm_type_i_item_desc_left lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="./assets/images/main_back_gr.jpg">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Chicken</h3>
                                <div class="lec_lm_type_i_item_price">$8.95</div>
                                <p>Fried Chicken Tenders with Pickles and Honey Mustard</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 4-5) ½ Rack Ribs, 8oz Pork, 8oz Brisket, ½ Chicken, 3 pints of Sides</p>
                            </div>
                        </div>
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_lm_type_i_item_desc_left lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="./assets/images/main_back_gr.jpg">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Sandwich</h3>
                                <div class="lec_lm_type_i_item_price">$10.25</div>
                                <p>2 Marinated Chicken Breasts on the Flattop Grill and Served with White Bread. Includes 2 sides.</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 2-3) 4 Bones, 6oz Pork, 6oz Brisket. Choice of 3 sides</p>
                            </div>
                        </div>
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                        
                        <div class="lec_lm_type_i_item_desc lec_lm_type_i_item_desc_left lec_image_bck text-left" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -50px, 0px)" data-image="./assets/images/main_back_gr.jpg">
  
                            <div class="lec_lm_type_i_item_desc_cont">
                                <h3 class="lec_gold">Fillets</h3>
                                <div class="lec_lm_type_i_item_price">$13.95</div>
                                <p>Mississippi Farm Raised Catfish with White Onions and Served with a Couple of Hushpuppies. Includes 2 sides.</p>
                                <h4>Composition</h4>
                                <p class="lec_lm_type_i_item_ingr">(Feeds 1-2) 4 Bones, 6oz Brisket, Choice of 2 Sides</p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- slider end -->
                

            </div>
            <!-- container end -->
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
                
                <!-- Over -->
                <div class="lec_over" data-color="#000" data-opacity="0.05"></div>

                <div class="container text-center">

                    <h2 class="lec_gold lec_title_counter">Other Menu</h2>
                    <h3 class="lec_gold_subtitle">Extra & Other</h3>


                    <div class="row row_mb_100 text-left">
                        <div class="col-md-9 lec_animation_block" data-bottom-top="transform:translate3d(0px, 50px, 0px)" data-top-bottom="transform:translate3d(0px, -30px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)" data-image="./assets/images/main_back.jpg">

                
                            
                             <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Extra</h2>
                                
                                <div class="lec_parallax_menu_mini lec_parallax_menu_mini_feaut">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>KID BROTHER SAMPLER</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$9.95</div>
                                    </div>
                                    <p>(Feeds 1) 4oz Pork, 4oz Brisket, Choice of 2 Sides</p>
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>BIG MOMMA SAMPLER</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$10.95</div>
                                    </div>
                                    <p>(Feeds 2-3) 4 Bones, 6oz Pork, 6oz Brisket. Choice of 3 sides</p>
                                </div>


                                
                            </div>
                        </div>


                    </div>
                    <!-- row end -->

                    <div class="row text-left">
                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posl lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)" data-image="./assets/images/main_back.jpg">

                            
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Other</h2>
                                
                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>WHOLE HOG</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$10.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>PULLED PORK SHOULDER</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$9.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>BEEF BRISKET</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$18.95</div>
                                    </div>      
                                </div>

                                <div class="lec_parallax_menu_mini">
                                    <div class="lec_parallax_menu_mini_title clearfix">
                                        <h3>SMOKED TURKEY</h3>
                                        <div class="lec_menu_spacer"></div>
                                        <div class="lec_parallax_menu_mini_price">$15.95</div>
                                    </div>      
                                </div>

                                
                                
                            </div>



                        </div>



                        <div class="col-md-8 col-md-offset-4 lec_animation_block" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                    </div>
                    <!-- row end -->



                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->
        

        <!-- section -->
        <section class="lec_section lec_image_bck lec_wht_txt lec_fixed" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x800">

            <!-- Over -->
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>


            <div class="container text-center">
                
                <h2 class="lec_gold lec_title_counter">Shop</h2>
                <h3 class="lec_gold_subtitle">FROM THE KITCHEN</h3>
                
                <div class="row">

                        <div class="col-md-3 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="./assets/images/silh/b2.png" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    CHEESEBURGER
                                    <b>$8.95</b>
                                </a>
                                
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="./assets/images/silh/b2.png" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    BRISKET
                                    <b>$9.95</b>
                                </a>
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="./assets/images/silh/b2.png" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    DIXIE BURGER
                                    <b>$8.95</b>
                                </a>
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 lec_anim_box">
                            <div class="lec_shop_item">
                                <span class="lec_shop_item_slider">
                                    <img src="./assets/images/silh/b2.png" alt="">
                                </span>
                                <a href="#" class="lec_shop_item_title lec_gold_subtitle">
                                    CHIXIE BURGER
                                    <b>$9.95</b>
                                </a>
                                <div class="lec_shop_item_links">
                                    <a href="#shop">Buy It</a>
                                </div>
                            </div>
                        </div>   
                
                </div>
                <!-- row end -->
     
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
                
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0"></div>

                <div class="container text-center">


                    <div class="row">
                        <div class="col-md-9 lec_animation_block lec_map_hidden_top" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <div class="lec_map_container">
                                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15uA_4Ya7SBNoAYEEEd_Jre6Yuj0" height="680" scrolling="no"></iframe>
                            </div>
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)" data-image="./assets/images/main_back.jpg">

                            <!-- Over -->
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>

                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Directions</h2>
                                <h3 class="lec_gold_subtitle">Our Lecker<br>Locations</h3>
                                <p>Lecker Restaurant is located in Birmingham in the town of Little Rock at the start of Cape Cod, and we're local to Huntsville, Falmouth, and Barnstable along state road 28.</p>
                                <a href="#" class="btn">Contact Lecker Restaurant <i class="ti ti-email"></i></a>
                            </div>



                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
                
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0.05"></div>

                <div class="container text-center">


                    <div class="row">
                        <div class="col-md-10 col-md-offset-2 lec_animation_block" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posl lec_image_bck" data-bottom-top="transform:translate3d(0px, 0px, 0px)" data-top-bottom="transform:translate3d(0px, 40px, 0px)" data-image="./assets/images/main_back.jpg">

                            <!-- Over -->
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>
                            
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Our Story</h2>
                                <h3 class="lec_gold_subtitle">Dine with us or order to-go</h3>
                                <p>Restaurant Lecker welcomed its first guest in October 2010. An intimate three-storey heritage shop house was built around 1930, situated in Lecker Steren road offering 30 seats everyday. Restaurant Lecker sees the illustrious chef continue his focus on using fresh artisan produce selected by artisans daily...</p>
                                <p><img src="./assets/images/sign.png" height="50" alt=""></p>
                            </div>



                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->
        
        <!-- section -->
        <section class="lec_section">


            <div class="container text-center">
                <h2 class="lec_gold lec_title_counter">Instagram</h2>
                <h3 class="lec_gold_subtitle">Contact Our Customer<br>Care Team</h3>

                <!-- instagram -->
                <div id="instagram-carousel" class="insta_slider clearfix"></div>
            </div>
            <!-- container end -->

                
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_section_lg_pd lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x800" data-bottom-top="@data-animation:noactive" data-200-bottom="@data-animation:active">

            <!-- Over -->
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>

            <div class="container text-center">  
                <div class="lec_gold lec_title_animation">Fresh and Healthy</div>
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="lec_section">

            <div class="container text-center">
                
                <h2 class="lec_gold lec_title_counter">Events and News</h2>
                <h3 class="lec_gold_subtitle">Latest News</h3>

                <!-- boxes -->
                <div class="lec_icon_boxes lec_team_slider">
                    
                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Dec 10</span>
                        <span class="lec_news_title lec_gold_subtitle">Restaurants win big on election night</span>
                        <p>Third party delivery players, chains expect election rush...</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Dec 12</span>
                        <span class="lec_news_title lec_gold_subtitle">Chiles add more than heat to menus</span>
                        <p>Chefs use capsicum to contribute complexity and depth of flavor...</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Dec 13</span>
                        <span class="lec_news_title lec_gold_subtitle">The quiet, early indicator of restaurant-industry problems</span>
                        <p>Noodles, Papa Murphy’s, Famous Dave’s all recently renegotiated credit agreements...</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Jan 14</span>
                        <span class="lec_news_title lec_gold_subtitle">Restaurant stocks rebound, at least somewhat</span>
                        <p>Increase in NRN Restaurant Index doesn’t erase a difficult 2016...</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Jan 16</span>
                        <span class="lec_news_title lec_gold_subtitle">How can packaging reduce food waste</span>
                        <p>Food Service Operators Turn to Innovative Food Packaging to Increase Efficiency, Safety and their Bottom Line...</p>  
                    </div>

                    <!-- item -->
                    <div class="lec_news_block text-center">
                        <span class="lec_news_img_parent"><span class="lec_news_img lec_image_bck" data-image="http://placehold.it/600x600"></span></span>
                        <span class="lec_gold lec_title_animation lec_wht_txt">Jan 18</span>
                        <span class="lec_news_title lec_gold_subtitle">Restaurant job growth <br>is slowing</span>
                        <p>After years of rapid expansion, the industry is tempering its hiring...</p>  
                    </div>

                </div>
                <!-- boxes end -->
            </div>
            <!-- container end -->

                
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x800" data-bottom-top="@data-animation:noactive" data-200-bottom="@data-animation:active">

            <!-- Over -->
            <div class="lec_over" data-color="#000" data-opacity="0.8"></div>

            <div class="container text-center">
                <div class="lec_gold">Live Music</div>
                <div class="lec_slide_title">Harper <br>Australia</div>
                <div class="lec_slide_subtitle">THURSDAY <br>OCTOBER 27</div>
                <p><img src="./assets/images/sign_wh.png" alt="" height="70"></p>
                <p><img src="./assets/images/burger/burger_logo.png" alt="" height="180"></p>
            </div>
            <!-- container end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="lec_section">

            <div class="container-fluid text-center">
                <h2 class="lec_gold lec_title_counter">Gallery</h2>
                <h3 class="lec_gold_subtitle">Out Best Moments</h3>
                <!-- section -->

                <div class="lec_slider_single lec_wht_txt lec_lm_type_i" data-dots="false" data-autoplay="true">
                    
                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                    </div>

                    <div class="lec_lm_type_i_item">
                        <img src="http://placehold.it/1400x800" alt="">
                    </div>

                </div>
                <!-- slider end -->

            </div>
            <!-- container end -->

                
        </section>
        <!-- section end -->

            

        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
                
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0.05"></div>

                <div class="container">


                    <div class="row">
                        <div class="col-md-10 lec_animation_block" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                        <div class="col-md-7 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck lec_wht_txt" data-bottom-top="transform:translate3d(0px, -40px, 0px)" data-top-bottom="transform:translate3d(0px, 0px, 0px)" data-image="./assets/images/main_back_gr.jpg">
                            
                            <div class="lec_parallax_menu lec_image_bck lec_fixed text-center">
                                <h2 class="lec_gold lec_title_counter">Testimonials</h2>

 
                                <div class="lec_reviews_single lec_lm_type_i" data-dots="true" data-autoplay="true">
                                
                                    <!-- item -->
                                    <div class="lec_reviews_item"> 
                                        <p>Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.</p>
                                        <svg class="svg-graphic" width="100" height="100" viewBox="0 0 100 100">
                                            <g>
                                               <clipPath id="hexagonal-mask">
                                                  <polygon id="path-1" points="50 -0.787401575 85.9121161 14.0878839 100.787402 50 85.9121161 85.9121161 50 100.787402 14.0878839 85.9121161 -0.787401575 50 14.0878839 14.0878839 "></polygon>
                                                  <text></text>
                                               </clipPath>
                                            </g> 
                                             <image clip-path="url(#hexagonal-mask)" height="100px" width="100px" xlink:href="http://placehold.it/200x200" />
                                        </svg>
                            
                                        <strong>Alexander Smith</strong>
                                    </div>

                                    <!-- item -->
                                    <div class="lec_reviews_item"> 
                                        <p>Brian and I look forward to our Friday dinner date at Lecker! Food was excellent and the service was warm and friendly!</p>
                                        
                                        <svg class="svg-graphic" width="100" height="100" viewBox="0 0 100 100">
                                             <image clip-path="url(#hexagonal-mask)" height="100px" width="100px" xlink:href="http://placehold.it/200x200" />
                                        </svg>
                                        <strong>Jeanne and Brian Horton</strong>
                                    </div>
            
                                    <!-- item -->
                                    <div class="lec_reviews_item"> 
                                        <p>We went to Leckerfor the first time tonight. The service was excellent, the staff was very friendly, courteous and helpful. The food was delicious. The sashimi was exceptionally fresh and tasty. The sushi was very fresh as well. The East Granby Roll was delicious. The Salmon Lover was over the top.</p>
                                        <svg class="svg-graphic" width="100" height="100" viewBox="0 0 100 100">
                                             <image clip-path="url(#hexagonal-mask)" height="100px" width="100px" xlink:href="http://placehold.it/200x200" />
                                        </svg>
                                        <strong>Maureen Brouillard </strong>
                                    </div>
                                    
                                    <!-- item -->
                                    <div class="lec_reviews_item"> 
                                        <p>My husband and I have been to Lecker 3 times, and I brought a friend there once, and every single time we've been impressed by the quality and presentation and deliciousness (I just made that word up for Han) of the food, the friendliness of the staff, and the overall ambiance of the place.</p>

                                        <svg class="svg-graphic" width="100" height="100" viewBox="0 0 100 100">
                                             <image clip-path="url(#hexagonal-mask)" height="100px" width="100px" xlink:href="http://placehold.it/200x200" />
                                        </svg>
                                        
                                        <strong>Nancy</strong>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->
        

        <!-- section -->
        <section class="lec_section">

            <div class="container text-center">
                <h2 class="lec_gold lec_title_counter">Careers</h2>
                <h3 class="lec_gold_subtitle">Working at Lecker</h3>
                <p>Thank you for your interest in employment at Lecker! Lecker is committed to providing the best possible climate for maximum development and goal achievement for all employees. Our practice is to treat each employee as an individual.</p>
                <p><a href="#" class="btn">Read More <i class="ti ti-money"></i></a></p>
            </div>
            <!-- container end -->
                
        </section>
        <!-- section end -->




        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
            
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0.05"></div>

                <div class="container text-center">


                    <div class="row">
                        <div class="col-md-10 lec_animation_block" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <img src="http://placehold.it/1400x800" alt="">
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, -40px, 0px)" data-top-bottom="transform:translate3d(0px, 0px, 0px)" data-image="./assets/images/main_back.jpg">

                            <!-- Over -->
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>
                            
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Victory</h2>
                                <h3 class="lec_gold_subtitle">Award Winning <br>Restaurant</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum culpa hic laborum, deleniti rerum quasi inventore in nam.</p>
                                <p><img src="./assets/images/awards.png" alt=""></p>
                                
                                
                            </div>



                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->



        <!-- section -->
        <section class="lec_section lec_image_bck lec_fixed lec_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x800" data-bottom-top="@data-animation:noactive" data-200-bottom="@data-animation:active">

                <!-- Over -->
                <div class="lec_over" data-color="#000" data-opacity="0.8"></div>

                <div class="container text-center">
                    
                    <h2 class="lec_gold lec_title_counter">Reservation</h2>
                    <h3 class="lec_gold_subtitle">For a group reservation of 6 people or more, <br>contact us through the online form </h3>
                    
                    <div class="row">
                        <form action="https://formspree.io/your@email.com" method="POST">
                            <div class="col-md-5 col-md-offset-1">
                                <p>Book a table</p>
                                <input type="text" placeholder="Date" name="Date" class="form-control" >
                                <input type="text" placeholder="Time" name="Time" class="form-control" >
                                <input type="text" placeholder="Party" name="Party" class="form-control" >
                            </div>

                            <div class="col-md-5">
                                <p>Contact Details</p>
                                <input type="text" placeholder="Name" name="Name" class="form-control" >
                                <input type="email" class="form-control" name="Email" placeholder="Email" >
                                <input type="text" placeholder="Phone" name="Phone" class="form-control">
                            </div>

                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" name="DaMessagete" placeholder="Message" rows="6"></textarea>
                            </div>
                            <div class="col-md-4 col-md-offset-4">
                                <input type="submit" class="btn" value="Make reservation" >
                            </div>
                        </form>
                    </div>
                    <!-- row end -->

                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->


        <!-- section -->
        <section class="lec_section lec_section_no_overlay">
        
                <!-- Over -->
                <div class="lec_over" data-color="#333" data-opacity="0.05"></div>

                <div class="container text-center">


                    <div class="row">
                        <div class="col-md-10 lec_animation_block lec_wht_txt" data-bottom-top="transform:translate3d(0px, 40px, 0px)" data-top-bottom="transform:translate3d(0px, -40px, 0px)">
                            <div class="lec_virtual_close"><i class="ti ti-close"></i></div>
                            <div class="lec_virtual_play lec_virtual_play_black lec_image_bck">

                                <!-- Slider Texts -->
                                <div class="lec_slide_txt lec_slide_left_middle">
                                    <img src="./assets/images/burger/burger_logo.png" alt="" height="160"><br>
                                    <div class="lec_gold">Discover Us</div>
                                    <div class="lec_slide_subtitle">Play The Video</div>
                                </div>
                                <!-- Slider Texts End -->
                            </div>

                            <iframe height="615" src="https://www.youtube.com/embed/vBO2q23-6iU?rel=0&amp;showinfo=0" allowfullscreen></iframe>
                        </div>

                        <div class="col-md-5 lec_animation_block lec_animation_abs_block lec_posr lec_image_bck" data-bottom-top="transform:translate3d(0px, -40px, 0px)" data-top-bottom="transform:translate3d(0px, 0px, 0px)" data-image="./assets/images/main_back.jpg">

                            <!-- Over -->
                            <div class="lec_over" data-color="#000" data-opacity="0.05"></div>
                            
                            <div class="lec_parallax_menu lec_image_bck lec_fixed">
                                <h2 class="lec_gold lec_title_counter">Virtual</h2>
                                <h3 class="lec_gold_subtitle">Tour</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam earum culpa hic laborum, deleniti rerum quasi inventore in nam.</p>

                                <h3>Contact Info</h3>

                                <div class="row lec_contacts_icons">
                                    <i class="ti ti-location-pin"></i> Raymond Boulevard 224 <br>
                                    <i class="ti ti-email"></i> info@themebusiness.com <br>
                                    <i class="ti ti-mobile"></i> 1-444-123-4559 <br>
                                    <i class="ti ti-link"></i> www.yourwebsite.com <br>
                                </div>
                                
                                
                            </div>



                        </div>


                    </div>
                    <!-- row end -->
                </div>
                <!-- container end -->
                
        </section>
        <!-- section end -->

    
    </section>
    <!-- Content End -->